.navbar-container{
    font-size: 15px;
    border-style: solid;
    /* border-color: #ff00ff; */
    border-bottom: 5px solid;
    border-image: linear-gradient(-90deg, #ff00ff, #00ffff);
    border-image-slice: 10;
    background-color: #252525;
    border-bottom-width: 2px;
    /* box-shadow: 0px 2px 2px #ff00ff; */
    /* margin-top: -16px;
    margin-right: -10px;
    margin-left: -10px; */
    position: fixed;
    top: -3px;
    left: -3px;
    z-index: 9999;
    width: 100%;
    height: 70px;
}

.navbar-container nav{
    position: absolute;
    margin: auto;
    right: 20px;
    top: 4px;
}

.navbar-container ul li{
    display: inline-block;
    margin: 5px 20px 5px 20px;
}

.navbar-container ul li a{
    color: #ffffff;
    text-decoration: none;
}

#nav-home:hover{
    color: #ff00ff;
}
#nav-about:hover{
    color: #ffff00;
}
#nav-portfolio:hover{
    color: #00ffff;
}
#nav-album:hover{
    color: #A41EE0;
}
#nav-home:active, #nav-about:active, #nav-portfolio:active, #nav-album:active{
    color: #00ff00;
}

body{
    margin: auto;
    width: 70%;
    background-color: #222222;
    color: #ffffff;
}

.intro{
    padding-top: 60px;
}
.intro h1{
    text-align: center;
    font-size: 90px;
}
/* h1{
    text-align: center;
} */